body {
  padding: 40px 0 0 0;
}
img {
  padding:5px;
}
h3 a {
  color:#000;
}

.container.loaded {
  position:relative;
  -webkit-transition: width .5s ease-in-out;
  -moz-transition: width .5s ease-in-out;
  -o-transition: width .5s ease-in-out;
}
.help-block {
  font-size:11px;
}


/** art **/

#art {
  overflow:hidden;
  background-color:#fff;
}
.media-grid a {
  overflow:hidden;
}

#art .wrapper {
  width: 300px;
}

#art:hover #expand {
  display:inline;
}

#art #expand {
  display:none;
  margin-top:13px;
}

.container.active #expand {
  display:none;
}
.container.active #art:hover #expand {
  display:inline;
}

.close {
  display:none;
  position:absolute;
  top:10px;
  right:10px;
}
.container.large .close {
  display:inline;
}
/*
#art.span16 .close {
  display:inline;
}
  */

#help-out {
  float:left;
  width:auto;
}

/** me **/

#me > a {
  display:block;
  float:left;
  width:100%;
  text-decoration:none;
}
#me > a:hover .me {
  color: #000;
  opacity:.4;
}
.me {
  margin-top:1.3em;
}

#me img {
  float:left;clear:left;
}

/** overlay **/
#overlay{
  -webkit-transition: height .5s ease-in-out;
  -moz-transition: height .5s ease-in-out;
  -o-transition: height .5s ease-in-out;
  height:0px;
  overflow:hidden;
}


/** devices **/

@media (max-width: 960px) {
  .container {
    width: 310px;
  }
  .span-one-third {
    clear:both;
  }
  #help-out {
    width:240px;
  }
}
